<?xml version='1.0' encoding='utf-8'?>
<widget id="com.zein.secretkingdom" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>سر المملكة المنسية</name>
    <description>لعبة مغامرات 3D أسطورية</description>
    <author email="zein@hoomee.com" href="http://github.com">زين المطور</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />
</widget>
